.spinner {
    border: 6px solid #dddddd;
    border-radius: 50%;
    border-top: 6px solid #2572b4;
    width: 42px;
    height: 42px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
