{#
 |------------------------------------------------------------------------------
 | Default Entry
 |------------------------------------------------------------------------------
 | This template is automatically included when no other template matches the
 | section handle.
 |------------------------------------------------------------------------------
#}

{% block header %}
    {# Set defaults from global settings #}
    {% set showBreadcrumb, showLogin = settings.showBreadcrumbGlobal, settings.showLoginGlobal %}

    {# Local override for showBreadcrumb #}
    {% if entry is defined and entry.showBreadcrumbLocal is not null and entry.showBreadcrumbLocal != 'default' %}
        {% set showBreadcrumb = entry.showBreadcrumbLocal.value %}
    {% endif %}

    {# Local override for showLogin #}
    {% if entry is defined and entry.showBreadcrumbLocal is not null and entry.showLoginLocal != 'default' %}
        {% set showLogin = entry.showLoginLocal.value %}
    {% endif %}

    {# Local override for showHeaderFeatures #}
    {% if entry is defined %}
        {% set showHeaderFeatures = entry.showHeaderFeatures ?? true %}
    {% endif %}

    {# Include the header template #}
    {% include '_shared/header' with {
        showAsArchived:     entry.showAsArchived ?? null,
        showBreadcrumb:     showBreadcrumb,
        showLogin:          showLogin,
        showHeaderFeatures: showHeaderFeatures
    } %}

{% endblock %}

{% block main %}
    <main property="mainContentOfPage" typeof="WebPageElement">
        {# Include the page builder template #}
        {% if entry.pageBuilder is not null %}
            {% include '_pageBuilder/builder' with {
                pageBuilder: entry.pageBuilder
            } %}
        {% endif %}
    </main>
{% endblock %}

{% block footer %}
    {# Set defaults from global settings #}
    {% set showReportAProblem, showShareThisPage =
        settings.showReportAProblemGlobal, settings.showShareThisPageGlobal %}

    {# Local override for showFooterFeatures #}
    {% if entry is defined %}
        {% set showFooterFeatures = entry.showFooterFeatures ?? true %}
    {% endif %}

    {# Local override for showReportAProblem #}
    {% if entry is defined and entry.showReportAProblemLocal is not null and entry.showReportAProblemLocal != 'default' %}
        {% set showReportAProblem = entry.showReportAProblemLocal.value %}
    {% endif %}

    {# Local override for showShareThisPage #}
    {% if entry is defined and entry.showReportAProblemLocal is not null and entry.showShareThisPageLocal != 'default' %}
        {% set showShareThisPage = entry.showShareThisPageLocal.value %}
    {% endif %}

    {# Include the footer template #}
    {% include '_shared/footer' with {
        showFooterFeatures: showFooterFeatures,
        showReportAProblem: showReportAProblem,
        showShareThisPage:  showShareThisPage
    } %}
{% endblock %}
